
{% extends "base.html" %}


    {% block content %}


<a href="/employee/status/" ><button type="button">probation period</button></a>

<a href="/employee/resignation-list/" ><button type="button">resignation list</button></a>

<a href="/employee/list-all-employee/" ><button type="button">add or update details</button></a>

<a href="/employee/list-all-employee/" ><button type="button">View emp_leaves</button></a>

<a href="/leave/pending_requests/" ><button type="button">PendingLeaveRequests</button></a>

<a href="/leave/leavetrack/" ><button type="button">LeaveTrack</button></a>

<a href="/employee/create/" ><button type="button">EmployeeCreate</button></a>

{% endblock %}
