
{% extends "base.html" %}


    {% block content %}

<a href="/leave/teamhistory/" ><button type="button">TeamHistory</button></a>
<a href="/leave/myhistory/" ><button type="button">MyHistory</button></a>
<a href="/leave/pending_requests/" ><button type="button">PendingRequests</button></a>
<a href="/leave/leaveapply/" ><button type="button">LeaveApply</button></a>
<a href="/leave/leavetrack/" ><button type="button">LeaveTrack</button></a>
<a href="/leave/leavehistory/" ><button type="button">LeaveHistory</button></a>
<a href="/leave/teamhistory/" ><button type="button">TeamLeaveHistory</button></a>
<a href="/leave/leave_calendar/" ><button type="button">LeaveCalendar</button></a>

    {% endblock %}
