{% extends "base.html" %}


{% block content %}
<!--<script>-->

<!--  function myFunction() {-->

<!--    document.getElementById("api").innerHTML += "/leavecancel/(?P<id>\\d+)/$";-->
<!--  }-->
<!--</script>-->

<!--<button id="api" onclick="myFunction()">click</button>-->

<script>
  window.onclick = function() {
  var api = "/leave/leavecancel/(?P<id>\\d+)/$";
  document.getElementById("apis").setAttribute("href",api);
}
</script>



<h3 class="container">Track leave application</h3>
{% for data in obj%}
<div class="container">
<div class="list-group">
  <a href="#" class="list-group-item active">
    {{data.reason}}
  </a>
  <a href="#" class="list-group-item list-group-item-action">{{data.from_date}}{{data.id}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{data.to_date}}</a>
  <a href="#" class="list-group-item list-group-item-action">Leavetype: {{data.leavetype}}</a>
</div>

  <button class="btn-btn-danger"><a href="{% url 'leave_cancel' data.id %}">withdraw</a> </button>
</div>
{% endfor %}


{% endblock %}