{% extends 'base.html' %}

{% block title %}Leave History{% endblock %}

{% block content %}

<div class="page-header">
{#	<div class="topnav">#}
{#    <div class="topnav-right">#}
{#      <a href="{% url 'home' %}">Home</a>#}
{#      <a href="{% url 'logout'  %}">Log out ({{ user }})</a>#}
{#    </div>#}
{#  </div>#}
 <h3>Leave History</h3>
</div>

{% if user_history == False %}
		<h4>No Leave History</h4>
{% else %}
<table class="table">
	<thead class="thead-light">
	<tr>
        <th>Leave Type</th>
		<th>From</th>
        <th>From Session</th>
		<th>To</th>
        <th>To Session</th>
{#        <th>Days</th>#}
		<th>Reason</th>
        <th>Attachment</th>
        <th>Contact</th>
        <th>ApplyTo</th>
		{% if super_mng != True %}
		<th>Status</th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for i in user_history %}
	<tr>
        <td>{{ i.LeaveType }}</td>
		<td>{{ i.From }}</td>
        <td>{{ i.Fromsession}}</td>
		<td>{{ i.To }}</td>
        <td>{{ i.Tosession }}</td>
{#        <td>{{ i.Days }}</td>#}
		<td>{{ i.Reason }}</td>
        <td><img src="{{media_url}}{{ i.Attachment }}"></td>
        <td>{{ i.Contact }}</td>
        <td>{{ i.ApplyTo }}</td>
		{% if super_mng != True %}
		<td>{% if i.Status == None %}
				Pending
				<form method="POST">{% csrf_token %}
				<button name="{{ i.id }}">Cancel</button></form>
			{% elif i.Status == True %}
				Approved
			{% else %}
				Rejected
			{% endif %}</td>
			{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}

 <script type="text/javascript">
	 $(document).ready(function() { 
            $("button").click(function() { 
                $.post("user_history", { 
                    id: "id", 
                }, 
                  
                function(data,status) { 
                    document.getElementById("id").innerHTML 
                            = data;  
                }); 
            }); 
        }); 
</script>

{% endblock %}
