{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" >

</head>
<div>
    <div class="card-deck">
  <div class="card">
       <div class="card-header">January</div>
    <div class="card-body">
      <h5 class="card-title">January events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
{#        <button type="button" class="btn btn-warning btn-lg"></button>#}
    </div>
  </div>
  <div class="card">
     <div class="card-header">February</div>
    <div class="card-body">
      <h5 class="card-title">February events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
      <div class="card-header">March</div>
    <div class="card-body">
      <h5 class="card-title">march events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
 <div class="card">
     <div class="card-header">April</div>
 <div class="card-body">
      <h5 class="card-title">April events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
    </div>&nbsp;
     <div class="card-deck">
         <div class="card">
             <div class="card-header">May</div>
 <div class="card-body">
      <h5 class="card-title">May events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>


            <div class="card">
                <div class="card-header">June</div>
 <div class="card-body">
      <h5 class="card-title">June events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

            <div class="card">
                <div class="card-header">July</div>
 <div class="card-body">
      <h5 class="card-title">July events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
         <div class="card">
              <div class="card-header">August</div>
 <div class="card-body">
       <h5 class="card-title">August events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
     </div>&nbsp;
     <div class="card-deck">

            <div class="card">
                <div class="card-header">September</div>
 <div class="card-body">
      <h5 class="card-title">September events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

            <div class="card">
                <div class="card-header">October</div>
 <div class="card-body">
      <h5 class="card-title">October events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

            <div class="card">
                <div class="card-header">November</div>
 <div class="card-body">
      <h5 class="card-title">November events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>

            <div class="card">
                <div class="card-header">December</div>
 <div class="card-body">
      <h5 class="card-title">December events</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>



</body>
</html>